# '#' is comment sign
# there should only exist three part in a line:
# <filename> <filepath> <account>
# which are seperated by space
# for example:

abc.txt /usr/bin/abc.txt root

# a file belong to root named abc.txt and located in /usr/bin/ will be loaded
# P.S. filename along with a full filepath is stupid, I know that. But I am lazy...